body{
    background-color: black;
    color: aliceblue;
}
.picture{
    width: 50%;
    height: 50%;
    float: left;
    border: 5px solid seashell;
    margin-right: 50px;
    margin-top: 30px;
}
h1{
    font-size: 62px;
    text-align: center;
}
ul, ol{
    line-height: 50px;
}h2{
    font-size: 36px;
    text-decoration: underline;
}
h3{
    font-size: 28px;
    text-decoration: underline;
    font-style: italic;
}
.aboutme{
    font-size: 22px;
}
p{
    text-align: center;
    font-size: 22px;
}
.program{
    font-weight: bold;
    font-style: italic;
}
